@import "../node_modules/bootstrap/scss/bootstrap"
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin-ext,cyrillic)
body
    background-color: #D6D7DA

#Titulo
    background-color: white
    padding: 10px
    
#body
    display: flex
    flex-direction: row
    background-color: #D6D7DA

#main
    height: auto
    width: 80%
    background-color: white
    margin: 60px
    border-radius: 10px
    box-shadow: 10px 10px 10px #B0B0B0

#Filtros
    width: 10%
    height: 100%
    text-align: center
    margin-top: 100px
    #fijo
        border-radius: 10px
        position: fixed
        background-color: white
        margin-right: 20px
        box-shadow: 10px 10px 10px #B0B0B0
        #filtro
            margin-top: 20px
            margin-bottom: 20px
            img
                width: 20%
                height: auto
    
#map
    height: 500px
    width: 80%
    margin-left: 10%
    margin-top: 50px
    border-radius: 10px
    box-shadow: 10px 10px 10px #B0B0B0
    
#Contenido
    width: 100%
    height: auto
    margin-top: 20px
    margin-bottom: 50px
        
.tarjetas
    border: solid black 1px
    border-radius: 20px
    height: 200px
    width: 100%
    box-shadow: 10px 10px 10px #B0B0B0
    margin-top: 10px
    p
        margin-left: 5px
        font-size: 20px

    .btncerrar
        float: right
        margin-right: 5px
        margin-top: 5px
#footer
    margin-top: 150px